$dark-color: rgb(15, 11, 11);
$primary-color: #93248f;
$btn-color: #fb5757;
$more-color: #73d947;
$secondary-color: #8cedf1;
$hover-color: #cceecc;
$font-stack: 'Nunito', sans-serif;
$font-stack-head:  'Poppins', sans-serif;
